<md-card>
  <md-card-title>
    <md-card-title-text>
      <div layout="row" layout-align="space-between">
        <span class="md-headline">{{vm.post.title}}</span>
        <div>
          {{vm.post.author}}
          <md-button class="md-icon-button" ng-click="vm.edit({ev: $event, mode: 'edit', post: vm.post})" ng-show="vm.post.author === vm.currentUser.email" aria-label="More">
            <md-icon class="icon ion-edit" style="font-size: 16px;"></md-icon>
          </md-button>
        </div>
      </div>
      <span class="md-subhead">{{vm.post.subtitle}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    {{vm.post.content}}
  </md-card-content>
</md-card>